@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-[1500px] px-8;
  }
}

body {
  background: black;
  color: white;
}

.text-gradient {
  /** TEXT GRADIENT */
  background-image: linear-gradient(0deg, red 19%, orange 79%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
